{% extends 'base.html.twig' %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "user/actions.html.twig" as actions %}


{% block main %}

<table class="table">
    <thead>
        <th class="col-md-2 text-center">Year</th>
        <th class="col-md-2 text-center">User</th>
        <td class="col-md-2 text-nowrap text-right">Total vacation days</td>
    </thead>
    {% for yearVacation in yearsGlobal %}
        {% for user in yearVacation.users %}
        <tr>
            <td class="col-md-2 text-center">{{ yearVacation.year }}</td>
            <td class="col-md-2 text-center">{{ user.userId }}</td>
            <td class="col-md-2 text-nowrap text-right">{{ (user.vacation / 3600 / 8)|number_format(2, '.', '') }}</td>
        </tr>
       {% endfor %}
    {% endfor %}
</table>



    {% for yearStat in years %}
        {% for month in yearStat.months %}
            {% for user in month.users %}
        <table class="table">
            <thead>
                <th class="col-md-1">Date<th>
                <th class="col-md-4">User</th>
                <th class="col-md-1 text-nowrap text-right">Total vacation days</th>
                <th class="col-md-1 text-nowrap text-right">User workdays</th>
                <th class="col-md-2 text-nowrap text-right">Month workdays</th>
                <th class="col-md-1 text-nowrap text-right"><i>User activity (information)</i></th>
            </thead>
                      <tr>
                          <td class="col-md-1"><b>{{ yearStat.year }}/{{month.month}}</b><td>
                          <td class="col-md-5"><b>{{ user.userId }}</b></td>
                          <td class="col-md-1 text-nowrap text-right">{{  (user.vacation==0)?'-':(user.vacation / 3600 / 8)|number_format(2, '.', '') }}</td>
                          <td class="col-md-1 text-nowrap text-right">{{  (user.getWorkedDay(month.getWorkingDays()*8*3600) / 3600 / 8)|number_format(2, '.', '') }}</td>
                          <td class="col-md-1 text-nowrap text-right">{{  month.getWorkingDays() |number_format(2, '.', '') }}</td>
                          <td class="col-md-1 text-nowrap text-right"><i>{{  (user.total / 3600 / 8)|number_format(2, '.', '') }}</i></td>
                      </tr>
                      <tr>
                          <td class="col-md-1">-<td>
                          <td class="col-md-5">-</td>
                          <td class="col-md-1 text-nowrap text-right"><b>Vacation</b></td>
                          <td class="col-md-1 text-nowrap text-right"><b>RTT</b></td>
                      </tr>
               {% for day in month.days %}
                     {% for user in day.users %}
                      <tr>
                          <td class="col-md-1">{{ yearStat.year }}/{{month.month}}/{{(day.day < 10)?0:''}}{{day.day}}<td>
                          <td class="col-md-5">{{ user.userId }}</td>
                          <td class="col-md-1 text-nowrap text-right">{{  (user.vacation==0)?'-':(user.vacation / 3600 / 8)|number_format(2, '.', '') }}</td>
                          <td class="col-md-1 text-nowrap text-right">{{  (user.rtt==0)?'-':(user.rtt / 3600 / 8)|number_format(2, '.', '') }}</td>
                      </tr>
                  {% endfor %}
               {% endfor %}
        </table>
                  {% endfor %}
            {% endfor %}
    {% endfor %}

{% endblock %}
